{% extends "admin/admin_base.html" %}
{%load static%}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Viewing prof : {{prof.first_name}} {{prof.last_name}}</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <img src="{{prof.prof.profile_pic}}" style="height:310px; width:300px;border-radius:5px;" alt="{{prof.first_name}} {{prof.last_name}}" class="img-fluid">
                  </div>
                  <div class="col">
                    <ul class="list-group">
                      <li class="list-group-item" style="padding:15px;">Name :</li>
                      <li class="list-group-item" style="padding:15px;">Email :</li>
                      <li class="list-group-item" style="padding:15px;">Username :</li>
                      <li class="list-group-item" style="padding:15px;">Professor UID :</li>
                      <li class="list-group-item" style="padding:15px;">Professor Faculty :</li>
                      <li class="list-group-item" style="padding:15px;">Professor Department :</li>
                  </ul>
                  </div>
                  <div class="col">
                    <ul class="list-group">
                      <li class="list-group-item"  style="padding:15px;">{{prof.first_name}} {{prof.last_name}}</li>
                      <li class="list-group-item"  style="padding:15px;">{{prof.email}}</li>
                      <li class="list-group-item"  style="padding:15px;">{{prof.username}}</li>
                      <li class="list-group-item"  style="padding:15px;">{{prof.prof.prof_uuid}}</li>
                      <li class="list-group-item"  style="padding:15px;">{{prof.prof.prof_faculty}}</li>
                      <li class="list-group-item"  style="padding:15px;">{{prof.prof.prof_dept}}</li>
                  </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}