{% extends "admin/admin_base.html" %}
{%load static%}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing : {{admin.user.first_name}} {{admin.user.last_name}}</h1> 
  </div>
  <div class="row pt-3 pb-2 mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form action="{%url 'admin_profile_update'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-3" style="width:245px;!important">
                            <img src="{{admin.profile_pic}}" style="height:200px; width:200px; margin-bottom:10px;" alt="default profile" class="img-thumbnail" id="profile_image">
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="admin_first_name" style="margin-bottom:10px;">First Name</label>
                                    <input type="text" class="form-control" id="admin_first_name" name="first_name" placeholder="Enter Admin First Name" value="{{user.first_name}}" style="margin-bottom:30px;" value={{prof.first_name}}>
                                </div>
                                <div class="col-md-6">
                                    <label for="admin_last_name" style="margin-bottom:10px;">Last Name</label>
                                    <input type="text" class="form-control" id="admin_last_name" name="last_name" placeholder="Enter Admin Last Name" value="{{user.last_name}}" style="margin-bottom:30px;" value={{prof.last_name}}>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="admin_email" style="margin-bottom:10px;">Email</label>
                                    <input type="email" class="form-control" id="admin_email" name="email" placeholder="Enter Admin Email" value="{{user.email}}" style="margin-bottom:10px;" value={{prof.email}}>
                                    <span class="text-danger" id="email_error" style="display:none;">Email already taken!</span>
                                </div>
                                <div class="col-md-6">
                                    <label for="admin_username" style="margin-bottom:10px;">Username</label>
                                    <input type="text" class="form-control" id="admin_username" name="username" placeholder="Enter Admin username" value="{{user.username}}" style="margin-bottom:10px;" value={{prof.username}}>
                                    <span class="text-danger" id="username_error" style="display:none;">Username already taken!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="admin_image" style="margin-bottom:10px;">Admin Image</label>
                        <input type="file" class="form-control" id="admin_image" name="profile_pic" placeholder="Enter Admin Image" style="margin-bottom:10px;">
                    </div>
                    <div class="form-group">
                        <label for="admin_password" style="margin-bottom:10px;">Admin Password</label>
                        <input type="password" class="form-control" id="admin_password" name="password" placeholder="Leave Empty if you don't want to change password" style="margin-bottom:10px;">
                    </div>
                    <div class="form-group">
                        <label for="admin_password_confirm" style="margin-bottom:10px;" >Admin Password Confirm</label>
                        <input type="password" class="form-control" id="admin_password_confirm" placeholder="Leave Empty if you don't want to change password" style="margin-bottom:10px;">
                    </div>
                   <button type="submit" id="submit"class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;">Update Profile</button>
                </form>
                <span id="error_message1" style="color:red; display:none;"> Fill all fields!<br></span>
                <span id="error_message2" style="color:red; display:none;"> Password does not match!</span>
                 
            </div>
        </div>
    </div>
</main>
{%endblock content%}


{%block js%}
<script>
        // getting get getCookies
        function getCookie(name){
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
        $(document).ready(function(){
            // upload profile image file to the form
            $('#profile_image').on('click', function() {
                $("#admin_image").click();
            });
            $("#admin_image").change(function(){
                var file = $(this).get(0).files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#profile_image').attr('src', e.target.result);
                };
                reader.readAsDataURL(file)
            });
        });
    
        // disabling the submit button until all fields are filled
       $(document).on('keyup', function() {
            if($('#admin_first_name').val() != '' && $('#admin_last_name').val() != '' && $('#admin_username').val() != ''  && $('#admin_email').val()!=''){
                $('#submit').prop('disabled', false);
                $('#error_message1').hide();
            } else {
                $('#submit').prop('disabled', true);
                $('#error_message1').show();
            }
        });
    
        // confirming password
        $(document).on('keyup', function() {
            if($('#admin_password').val() != '' && $('#admin_password_confirm').val() != '') {
                if($('#admin_password').val() == $('#admin_password_confirm').val()) {
                    $('#submit').prop('disabled', false);
                    $('#error_message2').hide();
                } else {
                    $('#submit').prop('disabled', true);
                    $('#error_message2').show();
                }
            }
        });
    
        // checking if email already exists
        $(document).ready(function(){
            $('#email_error').hide();
            $('#username_error').hide();
            $('#admin_email').on('keyup',function(){
                var email = $('#admin_email').val();
                $.ajax({
                    url: "{% url 'admin_email_check' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken')
                    },
                    data: {
                        'email': email,
                    },
                    success: function(data){
                        //console.log(data);
                        if(data['status'] == 'taken' && email != '{{user.email}}') {
                            $('#email_error').show();
                            $('#submit').prop('disabled', true);
                            //console.log('email taken');
                        } else {
                            $('#email_error').hide();
                            if($('#admin_first_name').val() != '' && $('#admin_last_name').val() != '' && $('#admin_username').val() != '' && $('#admin_email').val()!=''){
                                $('#submit').prop('disabled', false);
                            }
                            //console.log('email not taken');
                        }
                    }
                });
            });
        });
    
        // checking if username already exists
        $(document).ready(function(){
            $('#username_error').hide();
            $('#prof_username').on('keyup',function(){
                var username = $('#prof_username').val();
                $.ajax({
                    url: "{% url 'admin_username_check' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken')
                    },
                    data: {
                        'username': username,
                    },
                    success: function(data){
                        //console.log(data);
                        if(data['status'] == 'taken' && username != '{{prof.username}}') {
                            $('#username_error').show();
                            $('#submit').prop('disabled', true);
                            //console.log('username taken');
                        } else {
                            $('#username_error').hide();
                            if($('#admin_first_name').val() != '' && $('#admin_last_name').val() != '' && $('#admin_username').val() != '' && $('#admin_email').val()!=''){
                                $('#submit').prop('disabled', false);
                            }
                            //console.log('username not taken');
                        }
                    }
                });
            });
        });        
</script>

{%endblock js%}