{% extends "admin/admin_base.html" %}



{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Create A New Course</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                <form action={%url 'admin_create_course'%} method="POST">
                  {%csrf_token%}
                    <div class="form-group">
                      <label for="course_name" style="margin-bottom:10px;">Course Name</label>
                      <input type="text" class="form-control"  style="margin-bottom:10px;" id="course_name" placeholder="Enter Course Name" name="course_name">
                    </div>
                    <div class="row">
                          <div class="col-md-6"
                              <label for="course_category" style="margin-bottom:10px;">Course Category</label>
                              <select class="form-control form-select"  style="margin-bottom:10px;" id="course_category" name="course_level">
                                <option>Select Course Category</option>
                                <option>UG</option>
                                <option>PG</option>
                                <option>PHD</option>
                              </select>
                          </div>
                        
                          <div class="col-md-6"
                            <label for="course_department" style="margin-bottom:10px;">Course Department</label>
                            <select class="form-control form-select"  style="margin-bottom:10px;" id="course_department" name="course_dept">
                              <option>Select Course department</option>
                              {% for department in department_list %}
                                <option>{{department.dept_name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="course_year" style="margin-bottom:10px;">Course Year</label>
                        <select class="form-control form-select"  style="margin-bottom:10px;" id="course_year" name="course_year">
                          <option>Select Course Year</option>
                          <option>First Year</option>
                          <option>Second Year</option>
                          <option>Third Year</option>
                          <option>Fourth Year</option>
                          <option>Fifth Year</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label for="course_sem" style="margin-bottom:10px;">Course Semester</label>
                        <select class="form-control form-select"  style="margin-bottom:10px;" id="course_sem" name="course_sem">
                          <option>Select Course Semester</option>
                          <option>First Semester</option>
                          <option>Second Semester</option>
                          <option>Third Semester</option>
                          <option>Fourth Semester</option>
                          <option>Fifth Semester</option>
                          <option>Sixth Semester</option>
                          <option>Seventh Semester</option>
                          <option>Eighth Semester</option>
                          <option>Ninth Semester</option>
                          <option>Tenth Semester</option>  
                        </select>
                    </div>
                    </div>
                    <div class="form-group">
                      <!--Adding Subjects to Course list-->
                      <label for="course_subjects" style="margin-bottom:10px;">Add Subjects</label>
                      <div class="row" style="display:flex; flex-direction:row;" >
                      <div class="col-md-3">
                        <input type="text" class="form-control"  style="margin-bottom:10px;" id="course_subject"  placeholder="Enter Subject Name" onkeydown="return event.key != `Enter`">
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control"  style="margin-bottom:10px;" id="course_subject_cedit"  placeholder="Enter Subject Credit" onkeydown="return event.key != `Enter`">
                      </div>
                      <div class="col-md-3">
                        <!--Add subject button-->
                        <button type="button"  onclick="my_function()" class="btn btn-primary" style="margin-bottom:10px;">Add Subject</button>&nbsp;
                        <button type="button"  onclick="delete_all_subjects()" class="btn btn-danger" style="margin-bottom:10px;">Clear All Subject</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="course_subjects" style="margin-bottom:10px;">Subject list</label>
                      <!--department course table-->
                      <div class="table-responsive">
                        <table class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th>Sno.</th>
                              <th>Subject</th>
                              <th>Credit</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                         </tbody>
                        
                        </table>
                      </div>
                      </ul>
                    </div>
                    <!-- passing subject list to backend-->
                    <input type="hidden" id="subject_list" name="course_subject_list">
                    <input type="hidden" id="subject_credit_list" name="course_subject_credit_list">
          
                    <button type="submit" style="margin-top:20px;"  class="btn btn-primary">Create Course</button> 
                  </form>
              </div>
          </div>
        </div>
      </div>

</main>
{% endblock content %}

{% block js%}
<script type="text/javascript">
  var subject_list = "";
  var subject_credit_list = "";
  var subject_list_array = [];
  var subject_credit_list_array = [];
  function my_function(){
    var subject_name = document.getElementById('course_subject').value;
    var subject_credit = document.getElementById('course_subject_cedit').value || 0;
    var table = document.getElementsByTagName('tbody')[0];
    // adding at the end of the table
    var row = table.insertRow(table.rows.length);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    cell1.innerHTML = table.rows.length;
    cell2.innerHTML = subject_name;
    cell3.innerHTML = subject_credit;
    cell4.innerHTML = ' <button type="button" onclick="edit_subject('+ row.rowIndex+')" class="btn btn-primary">Edit</button>&nbsp;<button type="button" onclick="delete_subject('+ row.rowIndex+ ')" class="btn btn-danger">Delete</button> ';
    // adding to the array
    subject_list_array.push(subject_name);
    subject_credit_list_array.push(subject_credit);
    // converting array to string
    subject_list="";
    subject_credit_list="";
    for(var i = 0; i < subject_list_array.length; i++){
      if(i == subject_list_array.length-1){
        subject_list = subject_list + subject_list_array[i];
        subject_credit_list = subject_credit_list + subject_credit_list_array[i];
      }
      else{
        subject_list = subject_list + subject_list_array[i] + ",";
        subject_credit_list = subject_credit_list + subject_credit_list_array[i] + ",";
      }
    }
    document.getElementById('subject_list').value = subject_list;
    document.getElementById('subject_credit_list').value = subject_credit_list;
  }
  // edit subject field in the table
  function edit_subject(idx){
    var table = document.getElementsByTagName('tbody')[0];
    var prev_subject = table.rows[idx-1].cells[1].innerHTML;
    var prev_subject_credit = table.rows[idx-1].cells[2].innerHTML;
    var row = table.rows[idx-1];
    var cell1 = row.cells[1];
    var cell2 = row.cells[2];
    var cell3 = row.cells[3];
    cell1.innerHTML = '<input type="text" class="form-control"  style="margin-bottom:10px;" id="course_subject_'+idx+'"  value="'+prev_subject+'" onkeydown="return event.key != `Enter`">'
    cell2.innerHTML = '<input type="text" class="form-control"  style="margin-bottom:10px;" id="course_subject_cedit_'+idx+'"  value="'+prev_subject_credit+'" onkeydown="return event.key != `Enter`">'
    cell3.innerHTML = ' <button type="button" onclick="save_subject('+idx+')" class="btn btn-primary">Save</button>&nbsp;<button type="button" onclick="delete_subject('+ row.rowIndex+ ')" class="btn btn-danger">Delete</button> ';
  }
  // save subject field in the table
  function save_subject(idx){
    var table = document.getElementsByTagName('tbody')[0];
    var row = table.rows[idx-1];
    var cell1 = row.cells[0];
    var cell2 = row.cells[1];
    var cell3 = row.cells[2];
    var cell4 = row.cells[3];
    var subject_name = document.getElementById('course_subject_'+idx).value;
    var subject_credit = document.getElementById('course_subject_cedit_'+idx).value;
    cell1.innerHTML = idx;
    cell2.innerHTML = subject_name;
    cell3.innerHTML = subject_credit;
    cell4.innerHTML = ' <button type="button" onclick="edit_subject('+ row.rowIndex+')" class="btn btn-primary">Edit</button>&nbsp;<button type="button" onclick="delete_subject('+ row.rowIndex+ ')" class="btn btn-danger">Delete</button> ';
    // remove the previous subject from the list
    subject_list_array.splice(idx-1,1);
    subject_credit_list_array.splice(idx-1,1);
    // adding the new subject to the list
    subject_list_array.push(subject_name);
    subject_credit_list_array.push(subject_credit);
    // converting array to string
    subject_list="";
    subject_credit_list="";
    for(var i = 0; i < subject_list_array.length; i++){
      if(i == subject_list_array.length-1){
        subject_list = subject_list + subject_list_array[i];
        subject_credit_list = subject_credit_list + subject_credit_list_array[i];
      }
      else{
        subject_list = subject_list + subject_list_array[i] + ",";
        subject_credit_list = subject_credit_list + subject_credit_list_array[i] + ",";
      }
    }
    document.getElementById('subject_list').value = subject_list;
    document.getElementById('subject_credit_list').value = subject_credit_list;
  }
  //delete subject from the table
  function delete_subject(idx){
    // idx is the index of the row to be deleted
    var table = document.getElementsByTagName('tbody')[0];
    table.deleteRow(idx-1);
    // remove the subject from the array
    subject_list_array.splice(idx-1,1);
    subject_credit_list_array.splice(idx-1,1);
    // convert array to string
    subject_list = "";
    subject_credit_list = "";
    for(var i = 0; i < subject_list_array.length; i++){
      if(i == subject_list_array.length-1){
        subject_list = subject_list + subject_list_array[i];
        subject_credit_list = subject_credit_list + subject_credit_list_array[i];
      }
      else{
        subject_list = subject_list + subject_list_array[i] + ",";
        subject_credit_list = subject_credit_list + subject_credit_list_array[i] + ",";
      }
    }
    document.getElementById('subject_list').value = subject_list;
    document.getElementById('subject_credit_list').value = subject_credit_list;
  }

  // deleting all the rows from the table
  function delete_all_subjects(){
    var table = document.getElementsByTagName('tbody')[0];
    var row_count = table.rows.length;
    for(var i = row_count-1; i >= 0; i--){
      table.deleteRow(i);
    }
    // clearing the array
    subject_list_array = [];
    subject_credit_list_array = [];
    // converting array to string
    subject_list = "";
    subject_credit_list = "";
    document.getElementById('subject_list').value = subject_list;
    document.getElementById('subject_credit_list').value = subject_credit_list;
  }
</script>
{% endblock js %}
