{% extends "admin/admin_base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Viewing Course : {{course.course_name}}</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3> Course Details : </h3>
                    <hr>
                    <div class="row" >
                        <div class="col-md-6" style="margin-bottom:10px;">
                            <ul class="list-group">
                                <li class="list-group-item">Course Name :</li>
                                <li class="list-group-item">Course level :</li>
                                <li class="list-group-item">Course Department :</li>
                                <li class="list-group-item">Course Year :</li>
                                <li class="list-group-item">Course Semester :</li>
                            </ul>
                        </div>
                        <div class="col-md-6" style="margin-bottom:10px;margin-left:-20px;">
                            <ul class="list-group">
                                <li class="list-group-item">{{course.course_name}}</li>
                                <li class="list-group-item">{{course.course_level}}</li>
                                <li class="list-group-item">{{course.course_dept.dept_name}}</li>
                                <li class="list-group-item">{{course.course_year}}</li>
                                <li class="list-group-item">{{course.course_sem}}</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <h3> Course Subject List : </h3>
                    <!--Table to display subjects-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Subject Name</th>
                                <th>Subject Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subject_details %}
                                
                                <tr>
                                    <td>{{forloop.counter }}</td>
                                    <td>{{subject.name}}</td>
                                    <td>{{subject.credit}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content%}


