{% extends "admin/admin_base.html" %}
{%load static%}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Viewing Student : {{student.user.first_name}} {{student.user.last_name}}</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 justify-contents">
                        <center>
                            <img src="{{student.profile_pic}}" style="height:310px; width:300px; border-radius:5px;"alt="{{student.user.first_name}} {{student.user.last_name}}" class="img-fluid">
                            <span>{{student.user.first_name}} {{student.user.last_name}}</span>
                        </center>
                    </div>
                      <div class="col-4">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding:15px;">Name :</li>
                            <li class="list-group-item" style="padding:15px;">Email :</li>
                            <li class="list-group-item" style="padding:15px;">Username :</li>
                            <li class="list-group-item" style="padding:15px;">Roll No. :</li>
                            <li class="list-group-item" style="padding:15px;">Student UID :</li>
                            <li class="list-group-item" style="padding:15px;">Student Department :</li>
                            <li class="list-group-item" style="padding:15px;">Student Year :</li>
                            <li class="list-group-item" style="padding:15px;">Professor Assigned :</li>
                        </ul>
                      </div>
                      <div class="col-5">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding:15px;">{{student.user.first_name}} {{student.user.last_name}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.user.email}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.user.username}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.roll_no}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.student_uuid}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.student_department}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.student_year}}</li>
                            <li class="list-group-item" style="padding:15px;">{{student.prof_under.user.first_name}} {{student.prof_under.user.last_name}}</li>
                        </ul>
                      </div>   
                </div>

            </div>
        </div>
    </div>
</div>
</main>
{% endblock content%}