{% extends "admin/admin_base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <h3> Total Student Count : {{student_count}}<h3>
              <h3> Total Professor Count : {{prof_count}}<h3>
              <h3> Total Department Count : {{dept_count}}<h3>
        </div>
    </div>
  </div>

</main>
{% endblock content %}
